div.applink-box {
    background-color: #E4E4E4;
    border-top: 5px solid #33c3f0;
    margin: 15px 0;
    padding: 15px 15px;
}

.help-block {
    display: block;
    margin-bottom: 5px;
    color: #737373;
}